<footer class="mastfoot mt-auto text-center">
    <div class="inner">
        <p>Create By  <a href="#">Parag</a>.</p>
    </div>



<style>
    .heart {
        color: #e25555;
    }
</style>
Made with <span class="heart">â¤</span> in India
<link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

</footer>