<header>

    <div id="menu">
        <nav class="navbar navbar-inverse">
            <!-- you can use navbar-default for basic navbar-->
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Weather Detection</a>
                </div>
                <p class="navbar-text">Contact No : +91 </p>
                <p class="navbar-text">Email id : paragjagdale007@gmail.com</p>
                <ul class="nav navbar-nav ">
                    <li><a href="/"><span class=""></span> Weather</a></li>
                    <li><a href="/about"><span class="glyphicon glyphicon-user"></span> About us </a>
                    <li><a href="/help"><span class="glyphicon glyphicon-log-in"></span> Help </a>


                    </li>
                </ul>

            </div>
        </nav>
    </div>

</header>